@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #101322;
    font-family: 'Poppins', serif;
    margin: 0;
    color: #fff;
}

.form-container {
    background: #14182b;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.033);
    width: 380px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: #fff;
    font-size: 16px;
}

.form-group input {
    width: 93%;
    background-color: #1a1e34;
    padding: 12px;
    border: 2px solid #1d223a;
    border-radius: 6px;
    font-size: 16px;
    color: #f9f9f9;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.form-group input:focus {
    border-color: #4e878c;
    box-shadow: 0 0 8px #0000003e;
    outline: none;
}


.form-group input::placeholder {
    color: #f9f9f999;
}

.form-group i {
    margin-right: 8px;
    color: #4e878c;
}

.submit-btn {
    width: 100%;
    padding: 14px;
    background: #4e878c;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s;
}

.submit-btn:hover {
    background: #39666a;
    transform: scale(1.05);
}

.submit-btn:active {
    transform: scale(0.02);
}

.loader {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #00000052;
    backdrop-filter: blur(10px);
}
.spinner {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 5px solid #52969e;
    animation: spinner-bulqg1 0.8s infinite linear alternate,
         spinner-oaa3wk 1.6s infinite linear;
 }
 
 @keyframes spinner-bulqg1 {
    0% {
       clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    }
 
    12.5% {
       clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
    }
 
    25% {
       clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
    }
 
    50% {
       clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }
 
    62.5% {
       clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }
 
    75% {
       clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
    }
 
    100% {
       clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
    }
 }
 
 @keyframes spinner-oaa3wk {
    0% {
       transform: scaleY(1) rotate(0deg);
    }
 
    49.99% {
       transform: scaleY(1) rotate(135deg);
    }
 
    50% {
       transform: scaleY(-1) rotate(0deg);
    }
 
    100% {
       transform: scaleY(-1) rotate(-135deg);
    }
 }